body {
    margin: 20px 25px 25px 25px;
    padding: 10px
}

#bar-chart {
  display: block;
  margin: auto;
}

#multi-line {
  display: block;
  margin: auto;
}

#legend {
  position: relative;
  left: 520px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.focus circle {
    fill: steelblue;
    stroke: steelblue;
  }

